@import "_normalize.css";
@import "_fonts.css";
@import "_global.css";
@import "_vendor.css";
@import "_variables.css";
@import "_overall.css";

/* components imports */
@import "./components/_header.css";
@import "./components/_hero.css";
@import "./components/_us.css";
@import "./components/_gallery.css";
@import "./components/_catalog.css";

