.events {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
}

.events__title {
  margin-bottom: 24px;
  padding-top: 4px;
  padding-left: 1px;
}

.events__list {
  display: flex;
  flex-wrap: wrap;
}

.events__item {
  display: flex;
  margin-bottom: 50px;
  width: calc((100% - 100px) / 3);
  transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.events__item:nth-child(1n+4) {
  display: none;
}

.events__item_visible:nth-child(1n+4) {
  display: flex;
}

.events__item:not(:nth-child(3n)) {
  margin-right: 50px;
}

.event-card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-vl-grey);
}

.event-card__bottom {
  display: flex;
  flex-direction: column;
  padding: 14px 20px;
  height: 100%;
  min-height: 396px;
}

.event-card__place,
.event-card__time {
  display: block;
  /* padding-right: 18px; */
  text-align: right;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-nobel);
}

.event-card__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3px 30px 28px 30px;
  height: 100%;
}

.event-card__title {
  margin-bottom: 3px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: var(--color-night-rider);
}

.event-card__descr {
  margin-bottom: auto;
  padding-bottom: 5px;
  line-height: 32px;
  color: var(--color-night-rider);
}

.event-card__link {
  line-height: 23px;
  color: var(--color-amethyst);
  border-bottom: 1px solid currentColor;
  transition-property: color, border-color, box-shadow, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.event-card__link:focus-visible {
  outline: none;
  color: var(--color-white);
  background-color: var(--color-amethyst);
  box-shadow: 0 0 0 8px var(--color-amethyst);
}

/* .event-card__link:hover {
  color: var(--color-studio);
  background-color: transparent;
  box-shadow: none;
} */

.event-card__link:active {
  color: var(--color-night-rider);
}

.event__btn {
  position: relative;
  padding: 15px 34px;
  border: 2px solid currentColor;
  color: var(--color-amethyst);
  background-color: var(--color-white);
  transition-property: color, background-color, border-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.event__btn-invisible {
  display: none;
}

.event__btn::after {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  border: 2px solid var(--color-wisteria);
  border-radius: 100px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.event__btn:focus {
  outline: none;
}

.event__btn:focus::after {
  opacity: 1;
}

/* .event__btn:hover {
  color: var(--color-white);
  border-color: var(--color-amethyst);
  background-color: var(--color-amethyst);
} */

/* .event__btn:hover::after {
  opacity: 0;
} */

.event__btn:active {
  padding: 14px 33px;
  color: var(--color-white);
  background-color: var(--color-studio);
  border: 3px solid var(--color-mauve)
}
