.footer {
  background-color: var(--color-black);
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__logo {
  padding: 49px 0;
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social__svg_bg {
  transition: fill 0.3s ease-in-out;
}

.social__link:not(:last-child) {
  margin-right: 21px;
}

.social__link:focus {
  outline: none;
}

.social__link:focus .social__svg_bg {
  fill: var(--color-white);
}

.social__link:hover .social__svg_bg {
  fill: var(--color-white);
}

.social__link:active .social__svg_bg {
  fill: var(--color-amethyst);
}