.gallery {
  background-image: url(../../img/gallery.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.gallery__container {
  display: flex;
  justify-content: space-between;
  padding-top: 89px;
  padding-bottom: 69px;
  height: 100%;
}

.gallery-filter {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* margin-right: 50px; */
  /* max-width: 400px; */
  width: 25%;
}

.gallery__title {
  margin-bottom: 24px;
  color: var(--color-white);
}

.gallery__label {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-white);
}

.choices {
  margin-bottom: auto;
}

.choices__inner {
  position: relative;
  min-height: 40px;
  border-radius: 6px;
  border: 1px solid var(--color-white);
  font-size: 16px;
  line-height: 14px;
  color: var(--color-white);
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.choices:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.choices__inner:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.choices__list--single {
  padding-left: 7px;
}

.choices__list--dropdown {
  border: 0;
  background-color: transparent;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: rgba(255, 255, 255, 0.2);
}

.is-open .choices__inner, .is-focused .choices__inner {
  border-radius: 6px;
  border-color: var(--color-white);
}

.choices__list--dropdown .choices__item {
  color: var(--color-nobel);
  border: 1px solid var(--color-nobel);
  border-top: 0;
}

.choices__list--dropdown .choices__item:first-child {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.choices__list--dropdown .choices__item:last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.choices[data-type*=select-one]:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 14px;
  height: 7px;
  width: 7px;
  border:0;
  border-left: 1px solid var(--color-white);
  border-bottom: 1px solid var(--color-white);
  pointer-events: none;
  transform: rotate(-45deg) translateY(-50%);
}

.choices[data-type*=select-one].is-open:after {
  margin-top: 0;
  right: 18px;
  border-color: var(--color-white);
  transform: rotate(135deg);
}

.gallery-filter__descr {
  font-weight: 600;
  color: var(--color-white);
}

.gallery-filter__descr--wisteria {
  color: var(--color-wisteria);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.gallery-filter__descr--wisteria:focus {
  outline: none;
  color: var(--color-white);
  background-color: var(--color-amethyst);
}

.gallery-filter__descr--wisteria:hover {
  color: var(--color-amethyst);
  background-color: transparent;
  border-bottom: 2px solid currentColor;
}

.gallery-filter__descr--wisteria:active {
  color: var(--color-studio);
  background-color: transparent;
}

.gallery__swiper-container {
  margin: 0;
  margin-bottom: 10px;
  padding-top: 16px;
  padding-left: 3px;
  width: 72%;
  height: auto;
}

.gallery__pagination-wrapp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 27px;
  padding-left: 2px;
  max-width: 132px;
}

.gallery__swiper-pagination {
  /* margin-right: 19px; */
  color: var(--color-white);
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  /* bottom: 10px; */
  /* left: 0; */
  width: auto;
}

.gallery__swiper-button-prev,
.gallery__swiper-button-next {
  cursor: pointer;
}

.gallery__swiper-button-prev {
  /* margin-right: 19px; */
}

.gallery__swiper-button-prev:focus, 
.gallery__swiper-button-next:focus {
  outline: none;
}

.gallery__swiper-button-prev:focus .gallery__swiper-svg_style,
.gallery__swiper-button-next:focus .gallery__swiper-svg_style {
  stroke: var(--color-amethyst);
}

.gallery__swiper-button-prev:hover,
.gallery__swiper-button-next:hover {
  cursor: initial;
}

.gallery__swiper-button-prev:hover .gallery__swiper-svg_style,
.gallery__swiper-button-next:hover .gallery__swiper-svg_style {
  fill: var(--color-mauve);
  stroke: var(--color-mauve);
}

.gallery__swiper-button-prev:active .gallery__swiper-svg_style,
.gallery__swiper-button-next:active .gallery__swiper-svg_style {
  fill: var(--color-mauve);
  stroke: var(--color-amethyst);
}

.gallery__swiper-button-prev.swiper-button-disabled:hover .gallery__swiper-svg_style,
.gallery__swiper-button-prev.swiper-button-disabled:active .gallery__swiper-svg_style,
.gallery__swiper-button-next.swiper-button-disabled:hover .gallery__swiper-svg_style,
.gallery__swiper-button-next.swiper-button-disabled:active .gallery__swiper-svg_style {
  cursor: initial;
  fill: var(--color-whisper);
  stroke: var(--color-whisper);
}

.gallery__swiper-button-prev.swiper-button-disabled .gallery__swiper-svg__triangle,
.gallery__swiper-button-next.swiper-button-disabled .gallery__swiper-svg__triangle {
  stroke: var(--color-unactive);
}

.gallery__swiper-wrapper {
  height: auto;
}

.gallery__swiper-slide {
  position: relative;
  display: block;
  /* height: 100%; */
  /* width: 100%; */
  height: 350px;
  width: 350px;
  z-index: 2;
  cursor: pointer;
}

.gallery__swiper-slide::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
  border: 2px solid var(--color-mauve);
  /* pointer-events: none; */
  transition: opacity 0.3s ease-in-out;
}

.gallery__swiper-slide:active::before {
  opacity: 1;
}

.gallery__swiper-slide::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  background-image: url(../../img/gallery_slide_hover.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  /* z-index: -1; */
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  /* pointer-events: none; */
  transform: translate(-50%,-50%);
  transition: opacity 0.3s ease-in-out;
}

.gallery__swiper-slide:hover::after {
  opacity: 1;
  z-index: 2;
}


.gallery__swiper-slide:focus::after {
  opacity: 1;
  z-index: 2;
}

.gallery__swiper-slide:focus {
  outline: none;
}

