.gallery {
  background-image: url(/img/gallery.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.gallery__container {
  display: flex;
  justify-content: space-between;
  padding-top: 89px;
  padding-bottom: 70px;
  height: 100%;
}

.gallery-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* margin-right: 50px; */
  /* max-width: 400px; */
  width: 25%;
}

.gallery-left__top {
  /* margin-bottom: auto; */
}

.gallery__title {
  margin-bottom: 24px;
  color: var(--color-white);
}

.gallery__label {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-white);
}

.choices__inner {
  position: relative;
  min-height: 40px;
  border-radius: 6px;
  border: 1px solid var(--color-white);
  font-size: 16px;
  line-height: 14px;
  color: var(--color-white);
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.choices:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.choices__inner:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.choices__list--dropdown {
  border: 0;
  background-color: transparent;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: rgba(255, 255, 255, 0.2);
}

.is-open .choices__inner, .is-focused .choices__inner {
  border-radius: 6px;
  border-color: var(--color-white);
}

.choices__list--dropdown .choices__item {
  color: var(--color-nobel);
  border: 1px solid var(--color-nobel);
  border-top: 0;
}

.choices__list--dropdown .choices__item:first-child {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.choices__list--dropdown .choices__item:last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.choices[data-type*=select-one]:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  height: 7px;
  width: 7px;
  border:0;
  border-left: 1px solid var(--color-white);
  border-bottom: 1px solid var(--color-white);
  pointer-events: none;
  transform: rotate(-45deg) translateY(-50%);
}

.choices[data-type*=select-one].is-open:after {
  margin-top: 0;
  right: 18px;
  border-color: var(--color-white);
  transform: rotate(135deg);
}

.gallery-left__descr {
  /* width: 60%; */
  font-weight: 600;
  color: var(--color-white);
}

.gallery-left__descr--wisteria {
  color: var(--color-wisteria);
}

.gallery-right {
  width: 72%;
  /* width: 1150px; */
}

.swiper-container {
  padding-top: 76px;
  width: 1150px;
  height: 836px;
}

.swiper-slide {
  height: 350px;
  width: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper-slide--1 {
  background-image: url(/img/gallery1_1.jpg);
}

.swiper-slide--2 {
  background-image: url(/img/gallery1_2.jpg);
}

.swiper-slide--3 {
  background-image: url(/img/gallery1_3.jpg);
}

.swiper-slide--4 {
  background-image: url(/img/gallery1_4.jpg);
}

.swiper-slide--5 {
  background-image: url(/img/gallery1_5.jpg);
}

.swiper-slide--6 {
  background-image: url(/img/gallery1_6.jpg);
}

.swiper-slide--7 {
  background-image: url(/img/gallery2_1.jpg);
}

.swiper-slide--8 {
  background-image: url(/img/gallery2_2.jpg);
}

.swiper-slide--9 {
  background-image: url(/img/gallery2_3.jpg);
}

.swiper-slide--10 {
  background-image: url(/img/gallery2_4.jpg);
}

.swiper-slide--11 {
  background-image: url(/img/gallery2_5.jpg);
}

.swiper-slide--12 {
  background-image: url(/img/gallery2_6.jpg);
}

.swiper-slide--13 {
  background-image: url(/img/gallery3_1.jpg);
}

.swiper-slide--14 {
  background-image: url(/img/gallery3_2.jpg);
}

.swiper-slide--15 {
  background-image: url(/img/gallery3_3.jpg);
}

.swiper-slide--16 {
  background-image: url(/img/gallery3_4.jpg);
}

.swiper-slide--17 {
  background-image: url(/img/gallery3_5.jpg);
}

.swiper-slide--18 {
  background-image: url(/img/gallery3_6.jpg);
}

.swiper-pagination {
  top: 24px;
  right: 0;
  left: 50px;
  bottom: 0;
  text-align: start;
  color: var(--color-white);
}

.swiper-button-prev,
.swiper-button-next {
  top: 31px;
   
  /* var(--color-nero); */

  /* left: 0; */
  /* width: 40px; */
  /* height: 40px; */
  /* background-color: transparent; */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* background-size: 30px 30px; */
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  left: 6px;
  /* background-image: url(/img/gallery_round_less.svg); */
}

.swiper-button-next {
  left: 106px;
  right: auto;
}

.swiper-button-prev:focus, 
.swiper-button-next:focus {
  outline: none;
}

.swiper-button-prev:focus .swiper-svg_style,
.swiper-button-next:focus .swiper-svg_style {
  /* outline: none; */
  /* fill: var(--color-nobel); */
  stroke: var(--color-amethyst);
}

.swiper-button-prev:hover .swiper-svg_style,
.swiper-button-next:hover .swiper-svg_style {
  /* outline: none; */
  fill: var(--color-mauve);
  stroke: var(--color-mauve);
}

.swiper-button-prev:active .swiper-svg_style,
.swiper-button-next:active .swiper-svg_style {
  /* outline: none; */
  fill: var(--color-mauve);
  stroke: var(--color-amethyst);
}


.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 1;
}

.swiper-button-prev.swiper-button-disabled .swiper-svg__triangle,
.swiper-button-next.swiper-button-disabled .swiper-svg__triangle {
  /* fill: var(--color-whisper); */
  /* stroke: var(--color-whisper); */
  stroke: var(--color-unactive);
}
