.header {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
}

.header-top {
  background-color: var(--color-black);
}

.header-top__container {
  display: flex;
  align-items: center;
  max-width: 1640px;
  margin: 0 auto;
  padding: 0 12px;
  padding-left: 20px;
  padding-top: 28px;
  padding-bottom: 29px;
}

.burger {
  display: none;
  width: 36px;
  height: 28px;
}

.logo__link {
  margin-right: 173px;
}

.logo__img {
  transform: translateY(2px);
}

.header-nav {
  margin-right: auto;
}

.header-nav__list {
  display: flex;
  align-items: center;
}

.header-nav__item:not(:last-child) {
  margin-right: 51px;
}

.header-nav__item:nth-child(4) {
  margin-right: 48px;
}

.header-nav__link {
  padding: 3px 6px 4px 6px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  color: var(--color-white);
  transition: color 0.3s ease-in-out;
}

.header-nav__link:focus-visible {
  outline: none;
  background-color: var(--color-studio);
}

/* .header-nav__link:hover {
  color: var(--color-wisteria);
} */

.header-nav__link:active {
  background-color: transparent;
  color: var(--color-studio);
}

.login {
  padding: 5px 6px 5px 7px;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  color: var(--color-white);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.login-svg {
  margin-right: 3px;
}

.login-svg_color {
  transition: fill 0.3s ease-in-out;
}

.login:focus-visible {
  outline: none;
  background-color: var(--color-studio);
}

/* .login:hover {
  color: var(--color-wisteria);
  background-color: transparent;
} */

/* .login:hover .login-svg_color {
  fill: var(--color-wisteria);
} */


.login:active {
  color: var(--color-amethyst);
}

.login:active .login-svg_color {
  fill: var(--color-amethyst);
}

.search-form-touchscreen,
.search-form-touchscreen__label {
  display: none;
}

.header-bottom {
  background-color: rgba(0, 0, 0, 0.4);
}

.header-bottom__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1640px;
  margin: 0 auto;
  padding: 0 12px;
  padding-top: 22px;
  padding-right: 22px;
  padding-bottom: 20px;
}

.header-bottom-nav__list {
  display: flex;
}

.header-bottom-nav__item {
  position: relative;
  transition: color 0.3s ease-in-out;
}

.header-bottom-nav__item:not(:last-child) {
  margin-right: 83.5px;
}

.header-bottom-nav__item:nth-child(3) {
  margin-right: 85px;
}

.header-bottom-nav__item:nth-child(4) {
  margin-right: 85px;
}

.header-bottom-nav__btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 4px 22px 4px 7px;
  font-size: 18px;
  line-height: 1;
  color: var(--color-white);
  transition: color 0.3s ease-in-out;
}

.header-bottom-nav__btn::after {
  content: "";
  position: absolute;
  right: 9px;
  width: 7px;
  height: 7px;
  border-right: 1px solid var(--color-white);
  border-bottom: 1px solid var(--color-white);
  transform: rotate(45deg);
  transition: border-color 0.3s ease-in-out;
}

.header-bottom-nav__btn:focus-visible {
  outline: none;
  background-color: var(--color-studio);
}

/* .header-bottom-nav__btn:hover {
  color: var(--color-wisteria);
} */

/* .header-bottom-nav__btn:hover::after {
  border-color: var(--color-wisteria);
} */

.rotait::after {
  transform: rotate(225deg) translate(-3px,-4px);
}

.dropdown__container {
  position: absolute;
  top:47px;
  left: 8px;
  display: block;
  visibility: hidden;
  padding: 40px 20px 40px 40px;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.dropdown__container.open {
  visibility: visible;
  opacity: 1;
}

.dropdown__list {
  max-height: 220px;
  min-width: 240px;
  overflow: auto;
}

.dropdown__item:not(:last-child) {
  margin-bottom: 20px;
}

.dropdown__link {
  position: relative;
  display: block;
  padding: 11px 0;
  padding-left: 14px;
  width: 220px;
  height: 40px;
  border: 2px solid  transparent;
  font-weight: 600;
  font-size: 14px;
  color: var(--color-white);
}

.dropdown__link:focus-visible {
  outline: none;
  border: 2px solid  var(--color-amethyst);
}

/* .dropdown__link:hover {
  border: 2px solid  var(--color-amethyst);
} */

.dropdown__link:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  background-image: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
  border: 2px solid var(--color-mauve);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.dropdown__link:active::after {
  opacity: 1;
}

.dropdown__link_bg11 {
  background-image: url(../../img/choice1_1.jpg);
}

.dropdown__link_bg12 {
  background-image: url(../../img/choice1_2.jpg);
}

.dropdown__link_bg13 {
  background-image: url(../../img/choice1_3.jpg);
}

.dropdown__link_bg14 {
  background-image: url(../../img/choice1_4.jpg);
}

.dropdown__link_bg21 {
  background-image: url(../../img/choice2_1.jpg);
}

.dropdown__link_bg22 {
  background-image: url(../../img/choice2_2.jpg);
}

.dropdown__link_bg23 {
  background-image: url(../../img/choice2_3.jpg);
}

.dropdown__link_bg24 {
  background-image: url(../../img/choice2_4.jpg);
}

.dropdown__link_bg31 {
  background-image: url(../../img/choice3_1.jpg);
}

.dropdown__link_bg32 {
  background-image: url(../../img/choice3_2.jpg);
}

.dropdown__link_bg33 {
  background-image: url(../../img/choice3_3.jpg);
}

.dropdown__link_bg34 {
  background-image: url(../../img/choice3_4.jpg);
}

.dropdown__link_bg41 {
  background-image: url(../../img/choice4_1.jpg);
}

.dropdown__link_bg42 {
  background-image: url(../../img/choice4_2.jpg);
}

.dropdown__link_bg43 {
  background-image: url(../../img/choice4_3.jpg);
}

.dropdown__link_bg44 {
  background-image: url(../../img/choice4_4.jpg);
}

.dropdown__link_bg51 {
  background-image: url(../../img/choice5_1.jpg);
}

.dropdown__link_bg52 {
  background-image: url(../../img/choice5_2.jpg);
}

.dropdown__link_bg53 {
  background-image: url(../../img/choice5_3.jpg);
}

.dropdown__link_bg54 {
  background-image: url(../../img/choice5_4.jpg);
}

.simplebar-track.simplebar-vertical {
  width: 2px;
  background-color: var(--color-black);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.dropdown__container.open .simplebar-track.simplebar-vertical {
  opacity: 1;
}


.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 2px;
  border-radius: 0;
  opacity: 0;
  background-color: var(--color-white);
  transition: opacity 0.2s ease-in-out;
}

.dropdown__container.open .simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  opacity: 1;
}

.search-form {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  transform: translateY(-1px);
}

/* .search-form:hover .search-form__field {
  border-color: var(--color-wisteria);
} */

.search-form:active .search-form__field {
  border-color: var(--color-wisteria);
}

.search-form__label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-form__svg {
 margin-right: 7px;
 transform: translateY(3px);
}

.search-form__field {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  width: 219px;
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.85);
  background: transparent;
  transition: border-color 0.3s ease-in-out;
  cursor: pointer;
}

.search-form__field:focus-visible {
  outline: none;
  border-color: var(--color-wisteria);
  cursor: none;
}

.search-form__field:active {
  border-color: var(--color-studio);
}

.search-form__field:active::placeholder {
  color: transparent;
}

.search-form__field::placeholder {
  font-size: 18px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.85);
  transition: color 0.3s ease-in-out;
}

.search-form__btn:focus-visible {
  outline: none;
}
