.header {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
}

.header-top {
  background-color: var(--color-black);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;
  padding-bottom: 27px;
}

.header__logo {
  margin-top: 2px;
  /* margin-left: 2px; */
}

.nav__list {
  display: flex;
  margin-left: 6px;
  padding-bottom: 2px;
}

.nav__item:not(:last-child) {
  margin-right: 50.4px;
}

.nav__item:last-child {
  margin-right: 100px;
}

.nav__link {
  padding: 3px 6px 4px 6px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  color: var(--color-white);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.nav__link:focus {
  outline: none;
  background-color: var(--color-studio);
  transition: background-color 0.3s ease-in-out;
}

.nav__link:hover {
  color: var(--color-wisteria);
  transition: color 0.3s ease-in-out;
}

.nav__link:active {
  background-color: transparent;
  color: var(--color-studio);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.login {
  position: relative;
  margin-right: -8px;
  padding: 5px 6px 5px 28px;
  /* padding-left: 20px; */
  /* padding-right: 2px; */
  /* padding-bottom: 1px; */
  font-size: 18px;
  line-height: 1;
  text-align: center;
  color: var(--color-white);
}

.login::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 7px;
  height: 13px;
  width: 13px;
  transform: translateY(-50%);
  background-image: url(/img/header_login.svg);
  background-position: center;
  background-size: cover;
  background-position: no-repeat;
  transition: background-image 0.3s ease-in-out;
}

.login:focus {
  outline: none;
  background-color: var(--color-studio);
  transition: background-color 0.3s ease-in-out;
}

.login:hover {
  color: var(--color-wisteria);
  transition: color 0.3s ease-in-out;
}

.login:hover::before {
  background-image: url(/img/header_login_hover.svg);
  transition: background-image 0.3s ease-in-out;
}

.login:active {
  color: var(--color-amethyst);
  transition: color 0.3s ease-in-out;
}

.login:active::before {
  background-image: url(/img/header_login_active.svg);
  transition: background-image 0.3s ease-in-out;
}

.header-bottom {
  background-color: rgba(0, 0, 0, 0.4);
}

.header-bottom__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 22px;
}

.header-bottom-nav__list {
  display: flex;
  margin-left: -8px;
}

.header-bottom-nav__item {
  position: relative;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.header-bottom-nav__item:not(:last-child) {
  margin-right: 83.5px;
}

.header-bottom-nav__item:nth-child(3) {
  margin-right: 85px;
}

.header-bottom-nav__item:nth-child(4) {
  margin-right: 85px;
}

.header-bottom-nav__link {
  padding: 5px 22px 4px 7px;
  font-size: 18px;
  line-height: 1;
  color: var(--color-white);
  transition: color 0.3s ease-in-out;
}

.header-bottom-nav__link::after {
  content: "";
  position: absolute;
  top: 50%;
  /* left: 0px; */
  right: 7px;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  display: inline-block;
  background-image: url(/img/header_dropdown.svg);
  /* background-size: cover; */
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 4px;
  transition: transform 0.3s ease-in-out, background-image 0.3s ease-in-out;
}

.header-bottom-nav__link:focus {
  outline: none;
  background-color: var(--color-studio);
  transition: background-color 0.3s ease-in-out;
}

.header-bottom-nav__link:hover {
  color: var(--color-wisteria);
  transition: color 0.3s ease-in-out;
}

.header-bottom-nav__link:hover::after {
  background-image: url(/img/header_dropdown_hover.svg);
  transition: background-image 0.3s ease-in-out;
}





/* TODO для чего это? */
.rotait {
  color: var(--color-studio);
  /*transition*/
}

.rotait:after {
  background-image: url(/img/header_dropdown_up.svg);
  /*transition*/
}

.dropdown__container {
  position: absolute;
  top:44px;
  /* top: 100%; */
  left: 0;
  display: block;
  visibility: hidden;
  opacity: 0;
  padding: 40px 20px 40px 40px;
  /* max-height: 300px; */
  background: rgba(0, 0, 0, 0.6);
/* здесь нужен transition */
}

.dropdown__container.open {
  visibility: visible;
  opacity: 1;
  transition; all 0.3s;
}

.dropdown__list {
  max-height: 220px;
  min-width: 240px;
    overflow: auto;
}

.dropdown__item:not(:last-child) {
  margin-bottom: 20px;
  /* padding-top: 9px; */
  /* padding-left: 14px; */
  /* width: 220px; */
  /* height: 40px; */
}

.dropdown__link {
  padding-left: 14px;
  display: block;
  width: 220px;
  height: 40px;
  font-weight: 600;
  font-size: 14px;
  line-height: 40px;
  color: var(--color-white);
  /* background-image: url(/img/choice1_1.jpg); */
}

.dropdown__link--bg11 {
  background-image: url(/img/choice1_1.jpg);
}

.dropdown__link--bg12 {
  background-image: url(/img/choice1_2.jpg);
}

.dropdown__link--bg13 {
  background-image: url(/img/choice1_3.jpg);
}

.dropdown__link--bg14 {
  background-image: url(/img/choice1_4.jpg);
}

.dropdown__link--bg21 {
  background-image: url(/img/choice2_1.jpg);
}

.dropdown__link--bg22 {
  background-image: url(/img/choice2_2.jpg);
}

.dropdown__link--bg23 {
  background-image: url(/img/choice2_3.jpg);
}

.dropdown__link--bg24 {
  background-image: url(/img/choice2_4.jpg);
}

.dropdown__link--bg31 {
  background-image: url(/img/choice3_1.jpg);
}

.dropdown__link--bg32 {
  background-image: url(/img/choice3_2.jpg);
}

.dropdown__link--bg33 {
  background-image: url(/img/choice3_3.jpg);
}

.dropdown__link--bg34 {
  background-image: url(/img/choice3_4.jpg);
}

.dropdown__link--bg41 {
  background-image: url(/img/choice4_1.jpg);
}

.dropdown__link--bg42 {
  background-image: url(/img/choice4_2.jpg);
}

.dropdown__link--bg43 {
  background-image: url(/img/choice4_3.jpg);
}

.dropdown__link--bg44 {
  background-image: url(/img/choice4_4.jpg);
}

.dropdown__link--bg51 {
  background-image: url(/img/choice5_1.jpg);
}

.dropdown__link--bg52 {
  background-image: url(/img/choice5_2.jpg);
}

.dropdown__link--bg53 {
  background-image: url(/img/choice5_3.jpg);
}

.dropdown__link--bg54 {
  background-image: url(/img/choice5_4.jpg);
}

.simplebar-track.simplebar-vertical {
  width: 2px;
  background-color: var(--color-black);
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 0;
  bottom: 0;
}

.simplebar-scrollbar::before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  width: 2px;
  height: 28px;
  border-radius: 0;
  background-color: var(--color-white);
}

.simplebar-scrollbar.simplebar-visible::before {
  opacity: 1;
}

.header__form {
  display: flex;
  justify-content: space-between;
  margin-top: 3px;
}

.search-form__btn {
  margin-top: 2px;
  margin-right: 9px;
  width: 22.1px;
  height: 21.62px;
  background-image: url(/img/header_search.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.search-form__field {
  padding-top: 2px;
  padding-bottom: 3px;
  padding-left: 0;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  width: 219px;
  background: transparent;
  color: rgba(255, 255, 255, 0.85);
}

.search-form__field::placeholder {
  font-size: 18px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.85);
}

