.header {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
}

.header-top {
  background-color: var(--color-black);
}

.header__container {
  display: flex;
  align-items: center;
  padding-top: 28px;
  padding-bottom: 29px;
}

.logo__link {
  margin-right: 173px;
}

.logo__img {
  transform: translateY(2px);
}


.header__nav {
  margin-right: auto;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 50.4px;
}

.nav__link {
  padding: 3px 6px 4px 6px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  color: var(--color-white);
  transition: color 0.3s ease-in-out;
}

.nav__link:focus {
  outline: none;
  /* color: var(--color-white); */
  background-color: var(--color-studio);
}

.nav__link:hover {
  color: var(--color-wisteria);
}

.nav__link:active {
  background-color: transparent;
  color: var(--color-studio);
}

.login {
  position: relative;
  margin-right: -8px;
  padding: 5px 6px 5px 28px;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  color: var(--color-white);
  transition: color 0.3s ease-in-out;
}

.login::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 7px;
  height: 13px;
  width: 13px;
  transform: translateY(-50%);
  background-image: url(/img/header_login.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 0.3s ease-in-out;
}

.login:focus {
  outline: none;
  background-color: var(--color-studio);
}

.login:hover {
  color: var(--color-wisteria);
}

.login:hover::before {
  background-image: url(/img/header_login_hover.svg);
}

.login:active {
  color: var(--color-amethyst);
}

.login:active::before {
  background-image: url(/img/header_login_active.svg);
}

.header-bottom {
  background-color: rgba(0, 0, 0, 0.4);
}

.header-bottom__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 20px;
}

.header-bottom-nav__list {
  display: flex;
  margin-left: -8px;
}

.header-bottom-nav__item {
  position: relative;
  transition: color 0.3s ease-in-out;
}

.header-bottom-nav__item:not(:last-child) {
  margin-right: 83.5px;
}

.header-bottom-nav__item:nth-child(3) {
  margin-right: 85px;
}

.header-bottom-nav__item:nth-child(4) {
  margin-right: 85px;
}

.header-bottom-nav__link {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 4px 22px 4px 7px;
  font-size: 18px;
  line-height: 1;
  color: var(--color-white);
  transition: color 0.3s ease-in-out;
}

.header-bottom-nav__link::after {
  content: "";
  position: absolute;
  right: 7px;
  width: 7px;
  height: 7px;
  border-right: 1px solid var(--color-white);
  border-bottom: 1px solid var(--color-white);
  transform: rotate(45deg);
  transition: border-color 0.3s ease-in-out;
}

.header-bottom-nav__link:focus {
  outline: none;
  background-color: var(--color-studio);
}

.header-bottom-nav__link:hover {
  color: var(--color-wisteria);
}

.header-bottom-nav__link:hover::after {
  border-color: var(--color-wisteria);
}

.rotait::after {
  transform: rotate(225deg) translate(-4px,-4px);
}

.dropdown__container {
  position: absolute;
  top:44px;
  left: 0;
  display: block;
  visibility: hidden;
  padding: 40px 20px 40px 40px;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;  
}

.dropdown__container.open {
  visibility: visible;
  opacity: 1;
  /* transition; all 0.3s; */
  /* transition: opacity 0.3s ease-in-out; */
}

.dropdown__list {
  max-height: 220px;
  min-width: 240px;
  overflow: auto;
}

.dropdown__item:not(:last-child) {
  margin-bottom: 20px;
}

.dropdown__link {
  position: relative;
  display: block;
  padding: 11px 0;
  padding-left: 14px;
  width: 220px;
  height: 40px;
  border: 2px solid  transparent;;
  font-weight: 600;
  font-size: 14px;
  /* line-height: 40px; */
  color: var(--color-white);

  /* background-image: url(/img/choice1_1.jpg); */
}

.dropdown__link:focus-visible {
  outline: none;
  border: 2px solid  var(--color-amethyst);
}

.dropdown__link:hover {
  border: 2px solid  var(--color-amethyst);
}

.dropdown__link:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  background-image: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
  border: 2px solid var(--color-mauve);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.dropdown__link:active::after {
  opacity: 1;
}


.dropdown__link--bg11 {
  background-image: url(/img/choice1_1.jpg);
}

.dropdown__link--bg12 {
  background-image: url(/img/choice1_2.jpg);
}

.dropdown__link--bg13 {
  background-image: url(/img/choice1_3.jpg);
}

.dropdown__link--bg14 {
  background-image: url(/img/choice1_4.jpg);
}

.dropdown__link--bg21 {
  background-image: url(/img/choice2_1.jpg);
}

.dropdown__link--bg22 {
  background-image: url(/img/choice2_2.jpg);
}

.dropdown__link--bg23 {
  background-image: url(/img/choice2_3.jpg);
}

.dropdown__link--bg24 {
  background-image: url(/img/choice2_4.jpg);
}

.dropdown__link--bg31 {
  background-image: url(/img/choice3_1.jpg);
}

.dropdown__link--bg32 {
  background-image: url(/img/choice3_2.jpg);
}

.dropdown__link--bg33 {
  background-image: url(/img/choice3_3.jpg);
}

.dropdown__link--bg34 {
  background-image: url(/img/choice3_4.jpg);
}

.dropdown__link--bg41 {
  background-image: url(/img/choice4_1.jpg);
}

.dropdown__link--bg42 {
  background-image: url(/img/choice4_2.jpg);
}

.dropdown__link--bg43 {
  background-image: url(/img/choice4_3.jpg);
}

.dropdown__link--bg44 {
  background-image: url(/img/choice4_4.jpg);
}

.dropdown__link--bg51 {
  background-image: url(/img/choice5_1.jpg);
}

.dropdown__link--bg52 {
  background-image: url(/img/choice5_2.jpg);
}

.dropdown__link--bg53 {
  background-image: url(/img/choice5_3.jpg);
}

.dropdown__link--bg54 {
  background-image: url(/img/choice5_4.jpg);
}

.simplebar-track.simplebar-vertical {
  width: 2px;
  background-color: var(--color-black);
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 0;
  bottom: 0;
}

.simplebar-scrollbar::before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  width: 2px;
  height: 28px;
  border-radius: 0;
  background-color: var(--color-white);
}

.simplebar-scrollbar.simplebar-visible::before {
  opacity: 1;
}

.search-form {
  display: inline-flex;
  align-items: center;
  /* margin-top: 3px; */
  cursor: pointer;
  transform: translateY(-1px);
}

.search-form:hover .search-form__field {
  border-color: var(--color-wisteria);
}

.search-form:active .search-form__field {
  border-color: var(--color-wisteria);
}

.saerch__label {
  display: flex;
  align-items: center;
  justify-content: space-between;  
}

.search__svg {
 margin-right: 9px;
 transform: translateY(2px); 
}

.search-form__field {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  width: 219px;
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.85);
  background: transparent;
  transition: border-color 0.3s ease-in-out;
  cursor: pointer;
}

.search-form__field:focus {
  outline: none;
  border-color: var(--color-wisteria);
  cursor: none;
}

.search-form__field:active {
  border-color: var(--color-studio);

}

.search-form__field:active::placeholder {
  color: transparent;
}

.search-form__field::placeholder {
  font-size: 18px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.85);
  transition: color 0.3s ease-in-out;
}

