@media (max-width: 870px) {

  .events__item {
    /* margin-bottom: 34px; */
    width: calc((100% - 34px) / 2);
  }

  .events__item:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .events__item:not(:nth-child(2n)) {
    margin-right: 34px;
  }

  .events__item:nth-child(1n+3) {
    display: none;
  }

  .event-card__img {
    width: 100%;
    max-height: unset;
  }

  .modal-picture-card {
    width: 88%;
    /* min-height: 594px; */
  }

  .modal-picture-info__right {
    padding-right: 36px;
  }

  .header-top__container_width-60 {
    padding-top: 33px;
    padding-bottom: 31px;
    width: 100%;
  }

  .header-top__container_width-60 .serch-form-close-btn::before,
  .header-top__container_width-60 .serch-form-close-btn::after {
     width: 33px;
  }

  .header-top__container_width-60 .search-form-touchscreen__btn {
    margin-right: 7px;
  }

  .header-top__container_width-60 .search-form-touchscreen__label {
    margin-right: 23px;
  }
}
