@media (min-width: 1025px) {

  .header-nav__link:hover {
    color: var(--color-wisteria);
  }

  .login:hover {
    color: var(--color-wisteria);
    background-color: transparent;
  }

  .login:hover .login-svg_color {
    fill: var(--color-wisteria);
  }

  .header-bottom-nav__btn:hover {
    color: var(--color-wisteria);
  }

  .header-bottom-nav__btn:hover::after {
    border-color: var(--color-wisteria);
  }

  .dropdown__link:hover {
    border: 2px solid  var(--color-amethyst);
  }

  .search-form:hover .search-form__field {
    border-color: var(--color-wisteria);
  }

  .hero__btn:hover {
    border-color: var(--color-mauve);
  }

  .choices__inner:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .choices__list--dropdown .choices__item--selectable.is-highlighted {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .gallery-filter__descr--wisteria:hover {
    color: var(--color-amethyst);
    background-color: transparent;
    border-color: currentColor;
  }

  .swiper-button-gray:hover .swiper-button-gray__background {
    fill: var(--color-amethyst);
    stroke: var(--color-amethyst);
  }

  .gallery-swiper-slide:hover::after {
    opacity: 1;
    z-index: 2;
  }

  .tabs__btn:hover {
    filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
  }

  .artist-card__link:hover {
    color: var(--color-wisteria);
    background-color: transparent;
    border-color: var(--color-wisteria);
  }

  .ui-accordion-header-collapsed:hover {
    border-color: var(--color-amethyst);
  }

  .ui-state-hover .accordion__title {
    color: var(--color-amethyst);
    background-color: transparent;
  }

  .ui-state-hover::before {
    background-color: var(--color-mauve);
  }

  .accordion__btn:hover {
    color: var(--color-amethyst);
    border-color: currentColor;
    background-color: transparent;
  }

  .accordion-content__link:hover {
    color: var(--color-wisteria);
    background-color: transparent;
    border-color: var(--color-wisteria);
  }

  .event-card__link:hover {
    color: var(--color-studio);
    background-color: transparent;
    box-shadow: none;
  }

  .event__btn:hover {
    color: var(--color-white);
    border-color: var(--color-amethyst);
    background-color: var(--color-amethyst);
  }

  .event__btn:hover::after {
    opacity: 0;
  }

  .categories__label:hover {
    cursor: pointer;
    color: var(--color-wisteria);
  }

  .price-label__input:hover {
    border-color: transparent;
    background-color: var(--color-amethyst);
    cursor: pointer;
  }

  .editions-slide__btn:hover {
    cursor: pointer;
    background-color: var(--color-amethyst);
    border-color: var(--color-amethyst);
  }

  .editions-slide__btn:hover::after {
    opacity: 0;
  }

  .projects-tooltip:hover .projects-tooltip__text,
  .projects-tooltip:hover .projects-tooltip__btn::before {
    opacity: 1;
    visibility: visible;
  }

  .projects-tooltip:hover .projects-tooltip__background {
    fill: var(--color-mauve);
  }

  .projects-site__link:hover {
    color: var(--color-amethyst);
    background-color: var(--color-white);
    box-shadow: none;
    border-color: var(--color-amethyst);
  }

  .swiper-button-light:hover:not(.swiper-button-disabled) .swiper-button-light__backgroud {
    fill: var(--color-mauve);
    stroke: var(--color-mauve);
  }

  .partners-slide__logo:hover {
    filter: grayscale(0%);
  }

  .contacts-form__input:hover {
    background-color: var(--color-whisp);
  }

  .contacts-form__btn:hover {
    color: var(--color-white);
    background-color: var(--color-amethyst);
    border-color: var(--color-amethyst);
  }

  .contacts-form__btn:hover::after {
    opacity: 0;
  }

  .messenger__link:hover {
    opacity: 0.6;
  }

  .social__link:hover .social__svg_bg {
    fill: var(--color-white);
  }

  .modal-close-btn:hover .modal-close-btn__svg_color {
    stroke: var(--color-amethyst);
  }

}


@media (max-width: 1024px) {

  // Hero

  .header {
    background-color: var(--color-black);
  }

  .header-top {
    max-width: 1048px;
  }

  .header-top__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 29px 50px;
  }

  .header-bottom {
    display: none;
  }

  .burger,
  .search-form-touchscreen {
    display: block;
  }

  .burger:focus-visible {
    outline: none;
  }

  .burger-svg_color {
    transition: fill 0.3s ease-in-out;
  }

  .burger:focus-visible .burger-svg_color {
    fill: var(--color-wisteria);
  }

  .burger:active .burger-svg_color {
    fill: var(--color-studio);
  }

  .logo {
    margin: 0;
  }

  .search-form-touchscreen-svg_color {
    transition: fill 0.3s ease-in-out;
  }

  .search-form-touchscreen__btn:focus-visible {
    outline: none;
  }

  .search-form-touchscreen__btn:focus-visible .search-form-touchscreen-svg_color {
    fill: var(--color-wisteria);
  }

  .search-form-touchscreen__btn:active .search-form-touchscreen-svg_color {
    fill: var(--color-studio);
  }

  .menu-touchscreen {
    --burger-width: 400px;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    padding-top: 65px;
    padding-right: 4px;
    max-width: var(--burger-width);
    width: 80%;
    height: 100vh;
    z-index: 100;
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    opacity: 0;
    visibility: hidden;
    transform: translateX(calc( 0px - var(--burger-width)));
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  .menu-touchscreen_visible {
    visibility: visible;
  }

  .menu-touchscreen_animate {
    opacity: 1;
    /* visibility: visible; */
    transform: translateX(0);
  }

  .simplebar-track.simplebar-vertical {
    width: 3px;
    background-color: var(--color-vl-grey);
    opacity: 1;
    transform: translateX(-4px);
    /* opacity: 0; */
    /* transition: opacity 0.3s ease-in-out; */
  }

  .simplebar-scrollbar {
    background-color: var(--color-amethyst);
  }

  .header-nav-btn-close {
    position: absolute;
    top: 35px;
    left: 48px;
    display: block;
    padding: 4px;
  }

  .header-nav-btn-close:focus-visible {
    outline: none;
  }

  .header-nav-btn-close__svg {
    pointer-events: none;
  }

  .header-nav-btn-close_color {
    transition: fill 0.3s ease-in-out;
   }

  .header-nav-btn-close:focus-visible .header-nav-btn-close_color {
    fill: var(--color-amethyst);
  }

  .header-nav-btn-close:active .header-nav-btn-close_color {
    fill: var(--color-studio);
  }

  .header-nav__list {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 9%;
    padding-bottom: 5%;
  }

  .header-nav__item {
    padding: 0;
    width: 100%;
  }

  .header-nav__item:not(:last-child) {
    margin-right: 0;
  }

  .header-nav__link {
    display: inline-block;
    padding: 20px 30px;
    width: 100%;
    font-size: 24px;
    border-bottom: 1px solid rgba(255,255,255, 0.2);
  }

  .login {
    display: inline-block;
    padding: 20px 30px;
    padding-left: 52px;
    width: 100%;
    text-align: left;
    font-size: 24px;
  }

  .login-svg {
    width: 17px;
    height: 17px;
  }

  // Hero
  .hero-swiper-slide_1 {
    background-image: url(../../img/1024/hero_main_1024.jpg);
  }

  .hero-swiper-slide_2 {
    background-image: url(../../img/1024/hero_main_1_1024.jpg);
  }

  .hero-swiper-slide_3 {
    background-image: url(../../img/1024/hero_main_2_1024.jpg);
  }

}
