.projects__container {
  margin-top: 88px;
  margin-bottom: 91px;
}

.projects__title {
  margin-bottom: 25px;
}

.projects__info {
  margin-bottom: 20px;
  max-width: 1080px;
  line-height: 32px;
  color: var(--color-night-rider);
}

.projects__tooltip {
  display: inline-block;
  transform: translateY(3px);
}

.tooltip__btn {
  position: relative;
}

.projects__tooltip .tooltip__text {
  content: "";
  position: absolute;
  left: 50%;
  bottom: calc(100% + 6px);
  padding: 10px 7px;
  width: 264px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-amethyst);
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.projects__tooltip .tooltip__text_3 {
  width: 242px;
}

.tooltip__btn::before {
  content: "";
  position: absolute;
  bottom: calc(100% + 5px);
  left: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 7px 0 7px;
  border-color: var(--color-amethyst) transparent transparent transparent;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-50%);
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.projects__tooltip .tooltip-color {
  fill: rgba(157, 92, 208, 0,5);
  transition: fill 0.3s ease-in-out;    
}

.projects__tooltip .tooltip-background {
  fill: var(--color-white);
  transition: fill 0.3s ease-in-out;
}

.projects__tooltip .tooltip-border {
  stroke: rgba(157, 92, 208, 0,5);
  transition: stroke 0.3s ease-in-out;
}

.tooltip__btn:focus {
  outline: none;
}

.tooltip__btn:focus .tooltip-color {
  fill: var(--color-white);
}

.tooltip__btn:focus .tooltip-background {
  fill: var(--color-amethyst);
}

.tooltip__btn:focus .tooltip-border {
  stroke: var(--color-amethyst);
}

button:focus + .tooltip__text,
button:focus::before {
  /* color: var(--color-amethyst); */
  opacity: 1;
  visibility: visible;
}

.projects__tooltip:hover .tooltip__text,
.projects__tooltip:hover .tooltip__btn::before {
  opacity: 1;
  visibility: visible;
}

.projects__tooltip:hover .tooltip__text {
  background-color: var(--color-studio);
}

.projects__tooltip:hover .tooltip__btn::before {
  border-color: var(--color-studio) transparent transparent transparent;
}

.projects__tooltip:hover .tooltip-color {
  fill: var(--color-white);
  /* transition: fill 0.3s ease-in-out;     */
}

.projects__tooltip:hover .tooltip-background {
  fill: var(--color-studio);
  /* transition: fill 0.3s ease-in-out; */
}

.projects__tooltip:hover .tooltip-border {
  stroke: var(--color-studio);
  /* transition: stroke 0.3s ease-in-out; */
}

.projects-site__link {
  display: inline-block;
  /* padding: 4px 2px; */
  /* position: relative; */
  /* z-index: 100; */
  border-bottom: 1px solid transparent;
  color: var(--color-amethyst);
  /* color: var(--color-white); */
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  transition-property: color, background-color, border-color, box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}


.projects-site__link:focus {
  outline: none;
  color: var(--color-white);
  background-color: var(--color-amethyst);
  box-shadow: 0px 0px 0px 2px var(--color-amethyst);
}

.projects-site__link:hover {
  /* outline: none; */
  color: var(--color-amethyst);
  background-color: var(--color-white);
  box-shadow: none;
  border-color: var(--color-amethyst);
}

.projects-site__link:active {
  /* outline: none; */
  color: var(--color-studio);
  background-color: var(--color-white);
  box-shadow: none;
  border-color: var(--color-studio);
}


.projects-slider__container{
  position: relative;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  right: -9px;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  left: -11px;
}

.projects__subtitle {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-night-rider);
}

.projects__swiper-container {
  /* height: 150px; */
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1480px;
}

.swiper-button-next,
.swiper-button-prev {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

.projects-swiper-btn__svg_backgroud {
  fill: var(--color-whisper);
  stroke: var(--color-whisper);
  transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
}

.projects-swiper-btn__svg_color {
  stroke: var(--color-black);
  transition: stroke 0.3s ease-in-out;
}

.swiper-button-next:focus,
.swiper-button-prev:focus {
  outline: none;
}

.swiper-button-next:focus .projects-swiper-btn__svg_backgroud,
.swiper-button-prev:focus .projects-swiper-btn__svg_backgroud {
  fill: var(--color-whisper);
  stroke: var(--color-amethyst);
  
}

.swiper-button-next:hover .projects-swiper-btn__svg_backgroud,
.swiper-button-prev:hover .projects-swiper-btn__svg_backgroud {
  fill: var(--color-mauve);
  stroke: var(--color-mauve);
}

.swiper-button-next:active .projects-swiper-btn__svg_backgroud,
.swiper-button-prev:active .projects-swiper-btn__svg_backgroud {
  fill: var(--color-mauve);
  stroke: var(--color-amethyst);
}



.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.partners__logo {
  display: block;
  width: 100%;
  /* -webkit-filter: grayscale(100%); Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
}

.partners__logo:hover {
  filter: grayscale(0%);
}