.projects__container {
  margin-top: 88px;
  margin-bottom: 80px;
}

.projects__title {
  margin-bottom: 25px;
}

.projects__info {
  margin-bottom: 20px;
  max-width: 1080px;
  line-height: 32px;
  color: var(--color-night-rider);
}

.projects__tooltip {
  display: inline-block;
  transform: translateY(3px);
}

.tooltip__btn {
  position: relative;
}

.projects__tooltip .tooltip__text {
  content: "";
  position: absolute;
  left: 50%;
  bottom: calc(100% + 6px);
  padding: 10px 7px;
  width: 264px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-amethyst);
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.projects__tooltip .tooltip__text_3 {
  width: 242px;
}

.tooltip__btn::before {
  content: "";
  position: absolute;
  bottom: calc(100% + 5px);
  left: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 7px 0 7px;
  border-color: var(--color-amethyst) transparent transparent transparent;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-50%);
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.projects__tooltip .tooltip-color {
  fill: rgba(157, 92, 208, 0,5);
  transition: fill 0.3s ease-in-out;    
}

.projects__tooltip .tooltip-background {
  fill: var(--color-white);
  transition: fill 0.3s ease-in-out;
}

.projects__tooltip .tooltip-border {
  stroke: rgba(157, 92, 208, 0,5);
  transition: stroke 0.3s ease-in-out;
}

.tooltip__btn:focus {
  outline: none;
}

.tooltip__btn:focus .tooltip-color {
  fill: var(--color-white);
}

.tooltip__btn:focus .tooltip-background {
  fill: var(--color-amethyst);
}

.tooltip__btn:focus .tooltip-border {
  stroke: var(--color-amethyst);
}

button:focus + .tooltip__text,
button:focus::before {
  /* color: var(--color-amethyst); */
  opacity: 1;
  visibility: visible;
}

.projects__tooltip:hover .tooltip__text,
.projects__tooltip:hover .tooltip__btn::before {
  opacity: 1;
  visibility: visible;
}

.projects__tooltip:hover .tooltip__text {
  background-color: var(--color-studio);
}

.projects__tooltip:hover .tooltip__btn::before {
  border-color: var(--color-studio) transparent transparent transparent;
}

.projects__tooltip:hover .tooltip-color {
  fill: var(--color-white);
  /* transition: fill 0.3s ease-in-out;     */
}

.projects__tooltip:hover .tooltip-background {
  fill: var(--color-studio);
  /* transition: fill 0.3s ease-in-out; */
}

.projects__tooltip:hover .tooltip-border {
  stroke: var(--color-studio);
  /* transition: stroke 0.3s ease-in-out; */
}







.projects__subtitle {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-night-rider);
}

.projects__swiper-container {
  width: 100%;
  height: 150px;
}

.partners__slide {
  min-width: 450px;
}

.partners__logo {
  display: block;
  width: 100%;
  /* -webkit-filter: grayscale(100%); Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}